investpy==1.0.8
matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-venn==0.11.9
Pillow==8.4.0
pyngrok==6.0.0
seaborn==0.12.2
streamlit==1.22.0
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
yfinance==0.2.18
prophet==1.24.2